/*--------------------(  Dito lahat lalagay mga design CSS ng divs )--------------------*/
.main-container {
  padding: 20px;
}

/********** Introduction **********/
.introduction {
  margin: auto;
  position: relative;
  overflow: hidden;
  display: grid;
  place-content: center;
}
.header {
  margin-top: 70px;
  text-align: center;
}
.header h1 {
  font-family: "chat";
  font-size: clamp(3.5em, 2vw + 1em, 1em);
  font-weight: 900;
  color: var(--primary-text-color);
}

.header p {
  font-family: "poppins-bold";
  font-size: 0.9em;
  font-weight: 900;
  color: var(--primary-text-color);
}

.introduction .introduction-banner {
  margin: auto;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.introduction .introduction-banner img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}
.continue {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.continue button {
  width: 300px;
  text-align: center;
  font-family: "poppins-bold";
  font-size: 1.5em;
  letter-spacing: 5px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--primary-color-light);
}
.continue button:hover {
  transition: all ease 0.3s;
  background-color: var(--primary);
}
.continue button:active {
  transform: scale(0.95);
}

/********** Selection **********/
.selection {
  margin: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: 10px;
}

.selection .selection-banner {
  margin: auto;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.selection .selection-banner img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

.selection h1 {
  text-align: center;
  font-family: "poppins-bold";
  font-size: clamp(2em, 2vw + 1em, 1em);
  color: var(--primary-text-color);
}
.selection p {
  text-align: center;
  font-family: "poppins-bold";
  font-size: clamp(0.8em, 2vw + 1em, 0.8em);
  color: var(--primary-text-color);
}
.selection .selection-buttons {
  display: grid;
  place-content: center;
  gap: 25px;
  width: 100%;
  margin-top: 50px;
}
.selection .selection-buttons button {
  width: 300px;
  text-align: center;
  font-family: "poppins-bold";
  font-size: 1.5em;
  letter-spacing: 3px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--primary-color-light);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.selection .selection-buttons button:hover {
  transition: all ease 0.3s;
  background-color: var(--primary);
}

.selection .selection-buttons button:active {
  transform: scale(0.95);
}

/********** Join Room **********/
.joinroom {
  margin: auto;
  position: relative;
  overflow: hidden;
  height: 600px;
}

.joinroom .back button {
  padding: 5px;
  font-size: clamp(1em, 2vw + 1em, 1.5em);
  font-weight: 900;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--primary-color-light);
}

.joinroom .back button:hover {
  transition: all ease 0.3s;
  background-color: var(--primary);
}

.joinroom .back button:active {
  transform: scale(0.95);
}

.joinroom .join-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.joinroom .join-text h1 {
  font-family: "poppins-bold";
  font-size: clamp(3.5em, 2vw + 1em, 1em);
  font-weight: 900;
  color: var(--primary-text-color);
}

.joinroom .joinroom-inputs form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-content: center;
  gap: 20px;
  width: 100%;
}

.joinroom .joinroom-inputs form input {
  border: 1px solid var(--primary-color-light);
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  width: 300px;
  font-size: clamp(1.5em, 2vw + 1em, 1em);
  outline: none;
}

.joinroom .joinroom-inputs form input:hover {
  transition: all ease 0.3s;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.joinroom .joinroom-inputs form button {
  width: 300px;
  text-align: center;
  font-family: "poppins-bold";
  font-size: 1.5em;
  letter-spacing: 3px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--primary-color-light);
}

.joinroom .joinroom-inputs form button:hover {
  transition: all ease 0.3s;
  background-color: var(--primary);
}

.joinroom .joinroom-inputs form button:active {
  transform: scale(0.95);
}

/********** Create Room **********/
.createroom {
  margin: auto;
  position: relative;
  overflow: hidden;
}
.createroom .create-banner {
  margin: auto;
  border-radius: 5px;
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.createroom .create-banner img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

.createroom .back button {
  padding: 5px;
  font-size: clamp(1em, 2vw + 1em, 1.5em);
  font-weight: 900;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--primary-color-light);
}

.createroom .createroom-text {
  text-align: center;
  width: 100%;
}

.createroom .createroom-text h1 {
  font-family: "poppins-bold";
  font-size: clamp(2.5em, 2vw + 1em, 1em);
  font-weight: 900;
  color: var(--primary-text-color);
}

.createroom form {
  position: relative;
  background-color: var(--primary);
  margin: auto;
  padding: 15px;
  border-radius: 20px;
}

.createroom form .createroom-input-id {
  margin: auto;
  text-align: center;
}

.createroom form .createroom-input-id h1 {
  font-family: "poppins-bold";
  font-size: clamp(1.5em, 2vw + 1em, 1em);
  font-weight: 900;
  color: var(--white);
}

.createroom form .createroom-input {
  margin-top: 15px;
  display: grid;
  place-items: center;
  gap: 15px;
}
.createroom form .createroom-input input {
  border: 1px solid var(--primary-color-light);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  font-size: clamp(1.3em, 2vw + 1em, 1em);
  font-weight: bold;
  outline: none;
}
.createroom form .createroom-input input:hover {
  transition: all ease 0.3s;
  border: 1px solid var(--white);
  background-color: var(--primary-color-light);
  color: var(--white);
}
.createroom form .createroom-input button {
  margin-top: 5px;
  width: 250px;
  text-align: center;
  font-family: "poppins-bold";
  font-size: 1.5em;
  letter-spacing: 3px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: var(--primary-text-color);
  background-color: var(--white);
}
.createroom form .createroom-input button:hover {
  transition: all ease 0.3s;
  background-color: var(--primary-color-light);
  color: var(--white);
}

.createroom form .createroom-input button:active {
  transform: scale(0.95);
}

/********** ID inputs Components **********/
.input-id {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.input-id input {
  border: 1px solid var(--primary-color-light);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  width: 50px;
  font-size: clamp(1.3em, 2vw + 1em, 1em);
  font-weight: bold;
  outline: none;
}
.input-id input:hover {
  transition: all ease 0.3s;
  border: 1px solid var(--white);
  background-color: var(--primary-color-light);
  color: var(--white);
}

.id-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  text-align: center;
}

/********** User Name **********/
.user-name {
  margin: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
}

.user-name .username-banner {
  margin: auto;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.user-name .username-banner img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

.user-name .username-text {
  text-align: center;
  width: 100%;
}

.user-name .username-text h1 {
  font-family: "poppins-bold";
  font-size: clamp(2em, 2vw + 1em, 2em);
  font-weight: 900;
  color: var(--primary-text-color);
}

.user-name .username-input form {
  display: grid;
  place-content: center;
  gap: 20px;
  width: 100%;
}

.user-name .username-input form input {
  border: 1px solid var(--primary-color-light);
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  width: 300px;
  font-size: clamp(1.5em, 2vw + 1em, 1em);
  outline: none;
}

.user-name .username-input form input:hover {
  transition: all ease 0.3s;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.user-name .username-input form button {
  width: 300px;
  text-align: center;
  font-family: "poppins-bold";
  font-size: 1.5em;
  letter-spacing: 3px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: var(--white);
  background-color: var(--primary-color-light);
}

.user-name .username-input form button:hover {
  transition: all ease 0.3s;
  background-color: var(--primary);
}

.user-name .username-input form button:active {
  transform: scale(0.95);
}
