/*--------------------(  Colors CSS  )--------------------*/
:root {
    /* Primary colors */
    --primary: #06283D;
    --secondary: #256D85;
    --tertiary: #D0D0D0;
    --white: #FFFFFF;
    --black: #000000;
    --primary-gray: #555;
    --secondary-gray: #959191;
    --shadow: #F6F6F6;
    --primary-color-light: #3498db;

    /* Text colors */
   --primary-text-color:#3498db;
}